<!DOCTYPE html>
<html lang="en">

<%- include('layout/header.html') %>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include ('layout/sidebar.html') %>

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">
                        <%- include ('layout/topbar.html') %>
                            <!-- 글쓰기입력폼 -->
                            <h4 class="container mt-4"><strong>수정할 내용을 입력해주세요</strong></h4>

                            <div class="container mt-3">
                                <form>
                                    <div class="form-group">
                                        <label>곡제목</label>
                                        <input type="text" class="form-control" id="title" name="title" value="<%= review.title %>">
                                    </div>
                                    <div class="form-group">
                                        <label>작성자</label>
                                        <input type="text" class="form-control" id="username" name="username" value="<%= review.username %>">
                                    </div>
                                    <div class="form-group">
                                        <label>작성한 비밀번호를 다시 입력해주세요</label>
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">내용</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                            name="content"><%= review.content %></textarea>
                                    </div>
                                    <label for="basic-url">리뷰할 노래 Url</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                id="basic-addon3">https://www.youtube.com/embed/</span>
                                        </div>
                                        <input type="text" class="form-control" id="basic-url"
                                            aria-describedby="basic-addon3" value="<%= review.musicUrl %>">
                                    </div>
                                    <button type="submit" class="btn btn-danger"
                                        onclick="submitUpdate()">수정완료</button>
                                    <button class="btn btn-warning" onclick="submitDelete()">삭제하기</button>
                                </form>
                            </div>
                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <%- include ('layout/footer.html') %>
                        <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <script>
            function submitUpdate() {
                // 입력된 정보 받아오기
                let title = $("#title").val();
                let username = $("#username").val();
                let confirm_password = $("#confirm_password").val();
                let content = $("#exampleFormControlTextarea1").val();
                let musicUrl = $("#basic-url").val();

                // 리뷰수정을 위한 정보들을 다 입력했는지 확인
                if (!title || !username || !confirm_password || !content || !musicUrl) {
                    alert("모든 정보를 입력해주세요!");
                    return false;
                }

                // 정보가 다 있다면 api에 POST요청 보내기
                $.ajax({
                    type: "POST",
                    url: "/api/update/<%= review._id %>",
                    data: {
                        username: username,
                        confirm_password: confirm_password,
                        title: title,
                        content: content,
                        musicUrl: musicUrl
                    },
                    success: function (response) {
                        alert(response['message']);
                        location.href = '/detail/<%= review._id %>';
                    },
                    error: function(error){
                        alert("비밀번호가 틀렸습니다");
                        location.relode();
                    }
                })
            }

            function submitDelete(){
                let confirm_password = $('#confirm_password').val();

                if (!confirm_password) {
                    alert("비밀번호를 입력하지 않았습니다");
                    return false;
                }

                $.ajax({
                    type: "DELETE",
                    url: "/api/delete/<%= review._id %>",
                    data: {
                        confirm_password: confirm_password,
                    },
                    success: function (response) {
                        alert(response['message']);
                        location.href = '/';
                    },
                    error: function(error){
                        alert("비밀번호가 틀렸습니다");
                        location.relode();
                    }
                })
            }
        </script>

        <%- include ('layout/vendor.html') %>

    </body>

</html>